<a href="@{url_for('admin.index')}" class="sbm-post pure-button">@{_('Admin')}</a>
<hr>
<a href="@{url_for('admin.view')}" class="sbm-post pure-button">@{_('Admins')}</a>
<a href="@{url_for('admin.users')}" class="sbm-post pure-button">@{_('Users')}</a>
<a href="@{url_for('admin.userbadges')}" class="sbm-post pure-button">@{_('User Badges')}</a>
<hr>
<a href="@{url_for('admin.subs')}" class="sbm-post pure-button">@{_('Subs')}</a>
<a href="@{url_for('admin.posts')}" class="sbm-post pure-button">@{_('Posts')}</a>
<a href="@{url_for('admin.reports')}" class="sbm-post pure-button">@{_('Reports')}</a>
<hr>
<a href="@{url_for('admin.user_uploads')}" class="sbm-post pure-button">@{_('Uploads')}</a>
<a href="@{url_for('admin.wiki')}" class="sbm-post pure-button">@{_('Wikis')}</a>
<a href="@{url_for('admin.domains', domain_type='link')}" class="sbm-post pure-button">@{_('Banned Domains')}</a>
<a href="@{url_for('admin.domains', domain_type='email')}" class="sbm-post pure-button">@{_('Banned Email Domains')}</a>
<a href="/admin/banned_user_names" class="sbm-post pure-button">@{_('Banned User Names')}</a>
<hr>
<a href="@{url_for('admin.configure')}" class="sbm-post pure-button">@{_('Site Configuration')}</a>
<a href="/admin/stats" class="sbm-post pure-button">@{_('Site Statistics')}</a>
<a href="@{url_for('site.view_sitelog')}" class="sbm-post pure-button">@{_('Site log')}</a>
