@extends("shared/layout.html")
@import "shared/post.html" as ipost
@require(sort_type, ann, page, posts, kw)
@def sidebar():
<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
      @if sort_type.startswith('home.all_'):
        <a href="@{url_for('home.all_hot')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.all_hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
        <a href="@{url_for('home.all_top')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.all_top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
        <a href="@{url_for('home.all_new')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.all_new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
      @elif sort_type.startswith('home'):
        <a href="@{url_for('home.hot')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
        <a href="@{url_for('home.top')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
        <a href="@{url_for('home.new')}" class="sbm-post pure-button button-xsmall @{(sort_type == 'home.new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
      @end
  </div>
</div>
@include('shared/sidebar/home.html')
@if current_user.likes_scroll() and sort_type not in ('home.search', 'home.all_domain_new'):
  <hr />
  <div class="footer">
    &copy;@{config.site.copyright}
    <br>
    @for text,link in config.site.footer.links.items():
      <a href="@{link}">@{text}</a> |
    @end
    <a href="/license">@{_('License')}</a>
    <br>
    @if config.app.debug:
      | @{_('Page generated in __EXECUTION_TIME__ms with __DB_QUERIES__ queries')}
    @end
  </div>
@end
@end

@def main():
<div id="container">
  @if sort_type.startswith('home.') or sort_type.startswith('home.all_'):
    @if ann:
      <div id="announcement-post">
      @{ipost.singlePost(ann, False, announcement=True)!!html}
      <hr/>
      </div>
    @end
  @end

  @if not posts:
    <h1 class="noshit">@{_('There are no posts here, yet.')}</h1>
  @end
  <div class="alldaposts">
    @for post in posts:
      @if not ann or ann['pid'] != post['pid']:
        @{ipost.singlePost(post, False)!!html}
      @end
    @end
  </div>
  @if not current_user.likes_scroll() or sort_type in ('home.search', 'home.all_domain_new'):
    @if page > 1:
      <a href="@{url_for(sort_type, page=(page-1), **kw)}" class="pure-button">@{_('Previous page')}</a>
    @end
    @if len(posts) == 25:
      <a href="@{url_for(sort_type, page=(page+1), **kw)}" class="pure-button">@{_('Next page')}</a>
    @end
  @end
</div>
  @if current_user.likes_scroll() and sort_type not in ('home.search', 'home.all_domain_new'):
    @def footer():
    @end
  @end
@end

@def pagefoot():
  <label id="pagefoot-oindex" data-value="true" class="hide"></label>
  @if "labrat" in current_user.prefs:
    <label id="pagefoot-labrat" data-value="true" class="hide"></label>
  @end
  @if sort_type in ('home.all_new'):
    <label id="pagefoot-blocked" data-value="@{current_user.blocksid}" class="hide"></label>
  @end
  <label id="pagefoot-admin" data-value="@{current_user.is_admin()}" class="hide"></label>
  @if current_user.likes_scroll() and sort_type not in ('home.search', 'home.all_domain_new'):
    @if sort_type.startswith("home.all_"):
      <label id="pagefoot-moreuri" data-value="@{url_for('home.all_more', sort=sort_type.replace('home.all_', ''))}" class="hide"></label>
    @elif sort_type.startswith("home."):
      <label id="pagefoot-moreuri" data-value="@{url_for('home.home_more', sort=sort_type.replace('home.', ''))}" class="hide"></label>
    @end
  @end
  <label id="pagefoot-nsfw" data-value="@{'nsfw' in current_user.prefs}" class="hide"></label>
  <label id="pagefoot-nsfw-blur" data-value="@{'nsfw_blur' in current_user.prefs}" class="hide"></label>
@end
