@extends("errors/layout.html")

@def title():
Too many requests |\
@end

@def content():
<div id="center-container">
  <div class="content">
    <h1>Too much, too fast!</h1>
    <p>
      Whoa, calm down and wait a bit, then try again.
    </p>
    </div>
  </div>
@end
