@extends("shared/layout.html")
@require(error, regform, captcha)

@def title():
@{_('Register')} |\
@end

@def main():
<div id="center-container">
    <div class="content">
      @if error:
        <div class="error" style="margin-top: 2em;">@{ error !! html}</div>
      @end
        <form method="POST" id="login-form" class="pure-form pure-form-aligned">
            @{ regform.csrf_token()!!html }
            <h1>@{_('Register')}</h1>
            <fieldset>
                @if config.site.require_invite_code:
                <div class="pure-control-group">
                    <label for="invitecode">@{regform.invitecode.label.text}</label>@{regform.invitecode(autocomplete="off", required=True)!!html}<span class="pure-form-message-inline"><a href="/wiki/invites">Need a code?</a></span>
                </div>
                @end
                <div class="pure-control-group">
                    <label for="username">@{regform.username.label.text}</label>@{regform.username(required=True, maxlength=config.site.username_max_length, pattern="[a-zA-Z0-9_-]+", title=_('Alphanumeric characters plus \'-\' and \'_\'; between 2 and %(num)d characters long', num=config.site.username_max_length))!!html}
                </div>

                <div class="pure-control-group">
                    <label for="password">@{regform.password.label.text}</label>@{regform.password(autocomplete="off", required=True)!!html}
                </div>

                <div class="pure-control-group">
                    <label for="confirm">@{regform.confirm.label.text}</label>@{regform.confirm(autocomplete="off", required=True)!!html}
                </div>

                <div class="pure-control-group">
                  @if email_validation_is_required():
                    <label for="email">@{regform.email_required.label.text}</label>@{regform.email_required()!!html}
                  @else:
                    <label for="email">@{regform.email_optional.label.text}</label>@{regform.email_optional()!!html}
                  @end
                </div>
                @if config.site.enable_security_question:
                <div class="pure-control-group">
                    <label for="email">@{regform.securityanswer.label.text}</label>
                    <div style="display: inline-block;">
                        <b>@{func.pick_random_security_question()}</b> <br/>
                        @{regform.securityanswer()!!html}
                    </div>
                </div>
                @end
                @if captcha:
                  <input type="hidden" name="ctok" value="@{ captcha[0] }"/>
                  <div class="pure-controls">
                      <img src="data:image/png;base64,@{ captcha[1] }"/>
                  </div>
                  <div class="pure-control-group">
                    <label for="captcha">@{ regform.captcha.label.text }</label><input autocomplete="off" id="captcha" name="captcha" required="" type="text" value="">
                  </div>
                @end
                <div class="pure-controls">
                    <label for="accept_tos" class="pure-checkbox">
                        @{ regform.accept_tos(required=True) !!html} @{_('I accept the <a href="/wiki/tos">Terms of Service</a>')!!html}
                    </label>
                    <button type="submit" class="pure-button pure-button-primary">@{_('Register')}</button>
                </div>
            </fieldset>
            <ul class="loginlinklist">
              <li><a href="@{url_for('auth.login')}">@{_('Log in')}</a></li>
              <li><a href="@{url_for('user.password_recovery')}">@{_('Forgot your password?')}</a></li>
              @if email_validation_is_required():
                <li><a href="@{url_for('auth.resend_confirmation_email')}">@{_("Didn't get confirmation instructions?")}</a></li>
              @end
            </ul>
        </form>
    </div>
</div>
@end
