@extends("shared/layout.html")
@require(post, sub, is_saved, subInfo, pollData, commentform, comments, postmeta, subMods, highlight, content_history, title_history, open_reports, sort, sticky_sort)
@import "sub/postcomments.html" as pcomm
@import "sub/postpoll.html" as polls


@def title():
  @#
  @if (post['visibility'] == ''):
    @{post['title']} |\
  @else:
    @{_('[Deleted Post]')} |\
  @end
  @{sub['name']} \
@end
@def lema():
  @#
@end

@def meta_description():

    @if post['content'] and post['deleted'] == 0:
        <meta name="description" content="@{func.word_truncate(''.join(BeautifulSoup(markdown(post['content']), features='lxml').findAll(text=True)).replace('\n', ' '), 250)}"/>
    @else:
        <meta name="description" content="@{sub['title']}" />
    @end

    <meta property="og:site_name" content="@{config.site.lema}">
    <meta property="og:description" content="@{_('Posted in %(prefix)s/%(sub)s by %(username)s', prefix=config.site.sub_prefix, sub=sub['name'], username=post['user'] if post['userstatus'] != 10 else _('[Deleted]'))}">
    <meta property="og:title" content="@{post['title']}">
    @if post['thumbnail'] != '' and post['thumbnail'] != 'deferred' and post['link'] != None and post['visibility'] != 'none':
    <meta property="og:image" content="@{thumbnail_url(post['thumbnail'])}">
    <meta property="og:ttl" content="600">
    <meta property="og:image:height" content="70">
    <meta property="og:image:width" content="70">
    @end
@end

@def sidebar():
<hr>
  <div class="author" style="padding:.5em;">
    @(
    timeago = '<time-ago datetime="' + post['posted'].isoformat() + 'Z"></time-ago>'
    deleted_if_admin_view = ' ' + _('[Deleted]') if post['userstatus'] == 10 and current_user.is_admin() else ''
    flair = ' <span class="user_flair" data-flair-id="' + str(post['user_flair_id']) + '">' + e(post['user_flair']) + '</span>' if post['user_flair'] else ''
    deleted_link = '<a class="authorlink deleted">' + _('[Deleted]') + '</a>'
    user_link = ('<a class="authorlink" href="/u/' + post['user'] + '">' + post['user'] + deleted_if_admin_view + '</a>' + flair)
    if post['userstatus'] != 10 or current_user.is_admin():
        user_html = user_link
    else:
        user_html = deleted_link
    )
    @{_('Posted %(timeago)s by %(user)s', timeago=timeago, user=user_html)!!html}
    <br/>
    @if post['edited']:
      @{_('edited %(timeago)s', timeago='<time-ago datetime="' + post['edited'].isoformat() + 'Z"></time-ago>')!!html}<br/>
    @end
    @if config.site.show_votes or current_user.is_admin() or current_user.uid in subMods['all']:
      @{_('Score: %(score)i <b>(+%(upvotes)i|-%(downvotes)i)</b>', score=post['score'], upvotes=post['upvotes'], downvotes=post['downvotes'])!!html}
    @else:
      @{_('Score: %(score)i', score=post['score'])!!html}
    @endif
  </div>
<hr>
  @include('shared/sidebar/sub.html')
@end

@def main():
<div class="wholepost">
    <div class="postbar post @{((post['visibility'] != '') and (post['visibility'] != 'none')) and 'deleted ' or ''} @{(post['distinguish'] == 1 and 'mod' or '')} @{(post['distinguish'] == 2 and 'admin' or '')} " pid="@{post['pid']}">
    <div class="misctainer">
      <div class="votebuttons">
        @if post['userstatus'] != 10 and not post['is_archived']:
          <div title="@{_('Upvote')}" class="upvote @{(post.get('positive') == 1) and 'upvoted' or ''}" data-pid="@{post['pid']}" data-icon="upvote"></div>
          <div class="score">@{post['score']}</div>
          <div title="@{_('Downvote')}" class="downvote @{(post.get('positive') == 0) and 'downvoted' or ''}" data-pid="@{post['pid']}" data-icon="downvote"></div>
        @else:
          <div class="score archived">@{post['score']}</div>
        @end
      </div>
      <div class="thcontainer">
        <a class="title">
          <div class="thumbnail">
            @if post['link'] != None:
              @if post['thumbnail'] == '' or post['visibility'] == 'none' or post['visibility'] == 'user-self-del':
                <span class="placeholder" data-icon="link"></span>
              @elif post['thumbnail'] == 'deferred':
                <span class="placeholder deferred @{post['blur']}" data-icon="link" data-deferred="SubPost-@{post['pid']}"></span>
              @else:
                <img class="lazy @{post['blur']}" src="@{url_for('static', filename='img/1x1.gif')}" data-src="@{thumbnail_url(post['thumbnail'])}"/>
              @end
            @else:
              <span class="placeholder" data-icon="chat"></span>
            @end
          </div>
        </a>
      </div>
    </div>
    <div class="postinfo" id="postinfo" pid="@{post['pid']}">
      <div class="post-heading">
        @if post['nsfw'] or sub['nsfw']:
          <div class="nsfw" alt="@{_('Not safe for work')}">@{_('NSFW')}</div>
        @end

        <div class="current history" data-id="0">
        @if post['link'] == None:
          <h1>
            @if post['flair']:
              <a class="postflair" href="@{url_for('sub.view_sub_hot', sub=post['sub'], flair=post['flair'])}">@{post['flair']}</a> \
            @end
            <a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'])}" class="title">
              @if (post['visibility'] == ''):
                <span class="@{post['blur']}">@{post['title']}</span>
              @elif post['visibility'] in ['admin-self-del', 'mod-self-del', 'user-self-del']:
                @{_('[Deleted by User]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] in ['mod-del', 'user-mod-del']):
                @{_('[Deleted by Mod]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] == 'admin-del'):
                @{_('[Deleted by Admin]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] == 'none'):
                @{_('[Deleted]')}
              @end
            </a>
          </h1>
        @else:
          <h1>
            @if post['flair']:
              <a class="postflair" href="@{url_for('sub.view_sub_hot', sub=post['sub'], flair=post['flair'])}">@{post['flair']}</a> \
            @end
            <a rel="noopener nofollow ugc" href="@{((post['visibility'] != 'none') and post['link']) or '#'}" target="@{((post['visibility'] != 'none') and '_blank') or '_self'}" class="title">
              @if (post['visibility'] == ''):
                <span class="@{post['blur']}">@{post['title']}</span>
              @elif post['visibility'] in ['admin-self-del', 'mod-self-del', 'user-self-del']:
                @{_('[Deleted by User]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] in ['mod-del', 'user-mod-del']):
                @{_('[Deleted by Mod]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] == 'admin-del'):
                @{_('[Deleted by Admin]')} <span class="@{post['blur']}">@{post['title']}</span>
              @elif (post['visibility'] == 'none'):
                @{_('[Deleted]')}
              @end
            </a>
          </h1>
          @if post['deleted'] == 0:
            <a href="/domain/@{func.getDomain(post['link'])}" class="domain">(@{func.getDomain(post['link'])})</a>
          @end
        @end
        </div>

        @if title_history and post['visibility'] != 'none':
            @for count, old_title in enumerate(title_history):
              <span style="display:none;" class="old history" data-id="@{(count + 1)!!s}">
                @if post['link'] == None:
                  <h1><a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'])}" class="title">
                      @{old_title['title']}
                  </a></h1>
                @else:
                <h1><a rel="noopener nofollow ugc" href="@{(post['visibility'] != 'none') and post['link'] or '#'}" target="@{((post['visibility'] != 'none') and '_blank') or '_self'}" class="title">
                  @{old_title['title']}
                </a></h1>
                @end
              </span>
            @end
            <div class="title-history-controls">
              <button class="browse-history back" data-action="back">←</button>
              <button class="browse-history forward disabled" action="forward">→</button>
              <span class="history-meta">
                @{_('Viewing title history:')}
                  <span class="history-version">
                    1/@{1 + len(title_history)!!s}
                  </span>
              </span>
            </div>
        @end
      </div>
      <div class="author" data-pid="@{post['pid']}">
        @if post['visibility'] != 'none' and post['visibility'] != 'user-self-del':
          @if post['link']:
            @if func.getDomain(post['link']) in config.site.expando_sites:
              <div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="play"></div></div>
            @elif post['link'].lower().endswith(('.png', '.jpg', '.gif', '.tiff', '.bmp', '.jpeg')):
              <div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="image"></div></div>
            @elif post['link'].lower().endswith(('.mp4', '.webm', '.gifv')):
              <div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="play"></div></div>
            @end
          @end
        @end
        @(
        timeago = '<time-ago datetime="' + post['posted'].isoformat() + 'Z"></time-ago>'
        deleted_if_admin_view = ' ' + _('[Deleted]') if post['userstatus'] == 10 and current_user.is_admin() else ''
        if post['distinguish'] == 1:
            distinguish_text = _(' [speaking as mod]')
        elif post['distinguish'] == 2:
            distinguish_text = _(' [speaking as admin]')
        else:
            distinguish_text = ''
        flair = ' <span class="user_flair" data-flair-id="' + str(post['user_flair_id']) + '">' + e(post['user_flair']) + '</span>' if post['user_flair'] else ''
        user_link = '<a class="authorlink" href="/u/' + post['user'] + '">' + post['user'] + deleted_if_admin_view + distinguish_text + '</a>' + flair
        deleted_link = '<a class="authorlink deleted">' + _('[Deleted]') + '</a>'
        user_html = user_link if (post['userstatus'] != 10 or current_user.is_admin()) else deleted_link
        sublink = '<a href="/' + config.site.sub_prefix + '/' + post['sub'] + '">' + post['sub'] + '</a>'
        )
        @{_('posted %(timeago)s by %(user)s on %(sub)s', timeago=timeago, user=user_html, sub=sublink)!!html}
      </div>
      <ul class="links" data-pid="@{post['pid']}">
        @if current_user.is_authenticated and post['deleted'] == 0:
          @if post['content']:
            <li><a class="post-source">source</a></li>
          @end

          @if is_saved:
            <li><a class="removesavedpost" data-pid="@{post['pid']}">@{_('unsave')}</a></li>
          @else:
            <li><a class="savepost" data-pid="@{post['pid']}">@{_('save')}</a></li>
          @end
          @if ((subInfo.get('ucf', 0) == '1' or subInfo.get('umf', 0) == '1') and current_user.uid == post['uid']) or current_user.uid in subMods['all']:
            @if len(func.getSubFlairs(post['sid'])) != 0:
            <li><a class="editflair">@{_('flair')}</a></li>
            @end
          @end
          @if post['uid'] == current_user.uid:
            @if post['ptype'] != 1:
              <li><a class="edit-post" data-pid="@{post['pid']}">@{_('edit')}</a></li>
            @end
            @if (datetime.datetime.utcnow() - post['posted'].replace(tzinfo=None)) < datetime.timedelta(seconds=config.site.title_edit_timeout):
              <li><a class="edit-title" data-pid="@{post['pid']}">@{_('edit title')}</a></li>
            @end
          @end

          @if post['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']:
            <li id="delpostli"><a @{(post['uid'] == current_user.uid) and 'selfdel="true"' or ''!!html} class="delete-post"> @{_('delete')} </a></li>

            @if not sub['nsfw']:
              @if not post['nsfw']:
                <li><a class="nsfw-post"> @{_('tag as nsfw')} </a></li>
              @else:
                <li><a class="nsfw-post"> @{_('remove nsfw')} </a></li>
              @end
            @end
          @end

          @if post['deleted'] == 0 and post['ptype'] == 3 and pollData['poll_open'] and (post['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']):
              <li><a class="poll-close"> @{_('close poll')} </a></li>
          @end

          @if current_user.is_mod(post['sid']):
            @if str(post['pid']) in subInfo['sticky']:
              <li><a class="stick-post">@{_('unstick')}</a></li>
            @else:
              <li><a class="stick-post">@{_('make sticky')}</a></li>
            @end

            @if post['sub'].lower() == 'announcements' and current_user.is_admin():
              @if not func.getAnnouncement() or func.getAnnouncement()['pid'] != post['pid']:
                <li><a class="announce-post">@{_('make announcement')}</a></li>
              @end
            @end
            @if str(post['pid']) in subInfo['sticky']:
              @if sticky_sort == 'new' and post['best_sort_enabled']:
                  <li><a class="sort-comments">@{_('sort by best')}</a></li>
              @elif sticky_sort == 'new':
                  <li><a class="sort-comments">@{_('sort by top')}</a></li>
              @else:
                <li><a class="sort-comments">@{_('sort by new')}</a></li>
              @end
            @end
            @if postmeta.get('lock-comments'):
              <li><a class="lock-comments">@{_('unlock comments')}</a></li>
            @else:
              <li><a class="lock-comments">@{_('lock comments')}</a></li>
            @end
          @end
          @if post['uid'] != current_user.uid:
          <li><a data-ac="report" data-pid="@{post['pid']}" class="report-post">@{_('report')}</a></li>
          @end
          @if (current_user.is_admin() or current_user.uid in subMods['all']) and open_reports:
            <li><a class="post-open-reports" href="@{url_for('mod.report_details', sub=sub['name'], report_type='post', report_id=list(open_reports)[0]['id'])}">@{_('open reports (%(num)s)', num=len(open_reports))}</a></li>
          @end
        @end
        @if (current_user.is_admin() and post['deleted'] in [2, 3]) or (current_user.uid in subMods['all'] and post['deleted'] == 2):
          <li id="delpostli"><a class="undelete-post"> @{_('un-delete')} </a></li>
        @end
        @if (current_user.uid == post['uid'] and (current_user.is_admin() or current_user.uid in subMods['all'])) and post['deleted'] == 0:
            <li><a class="distinguish" data-pid="@{post['pid']}">@{post['distinguish'] and _('undistinguish') or _('distinguish')}</a></li>
        @end

      </ul>
    </div>
  </div>

  @if ((subInfo.get('ucf', 0) == '1' or subInfo.get('umf', 0) == '1') and current_user.uid == post['uid']) or current_user.uid in subMods['all']:
    <div style="display:none;" id="postflairs" class="popup">
      <span class="closemsg">×</span>
      @if post['flair']:
        <div>
	  @{_('Current flair: <span class="postflair">%(flair)s</span>', flair=e(post['flair']))!!html}
	  @if not subInfo.get('umf') == '1' or current_user.uid in subMods['all']:
	    <a data-sub="@{post['sub']}" data-pid="@{post['pid']}" href="#" id="remove-flair">@{_('Remove')}</a>
	  @end
	</div>
      @end
      <h4>@{_('Select a new flair')}</h4>
      @for ll in func.getSubFlairs(post['sid']):
        <span class="selflair" data-sub="@{post['sub']}" data-flair="@{ll.xid}" data-pid="@{post['pid']}">@{ll.text}</span>
      @end
    </div>
  @end

  @if (post['ptype'] == 3) and (post['deleted'] == 0 or post['visibility'] in ['admin-self-del', 'mod-self-del', 'mod-del', 'user-mod-del']):
    <span class="@{post['blur']}">@{polls.renderPoll(pollData, postmeta, post)!!html}</span>
  @end
  <div>
  @if post['content']:
  <div>
    @if post['deleted'] == 0:
      <span class="current history" data-id="0">
        <div id="postcontent" class="post-content-container @{post['blur']}">@{markdown(post['content'])!!html}</div>
      </span>
      <div id="post-source">@{post['content']}</div>
    @else:
      @if post['visibility'] in ['none', 'user-self-del']:
        <div id="postcontent" class="post-content-container @{(post['visibility'] == 'user-self-del') and 'deleted ' or ''}">
          @{_('[deleted]')}
        </div>
      @elif post['visibility'] in ['admin-self-del', 'mod-self-del', 'mod-del', 'admin-del', 'user-mod-del']:
        <span class="current history" data-id="0">
          <div id="postcontent" class="post-content-container deleted">@{markdown(post['content'])!!html}</div>
        </span>
        <div id="post-source">@{post['content']}</div>
      @end
    @end
  </div>
  @elif not post['link']:
    <div id="postcontent" class="post-content-container"></div>
    <div id="post-source" class="post-content-container"></div>
  @end

  @if content_history and post['content'] and  (post['visibility'] not in ['none', 'user-self-del']):
      @for count, old_version in enumerate(content_history):
        <span style="display:none;" class="old history" data-id="@{(count + 1)!!s}">
          <div class="post-content-container @{(post['visibility'] != '') and 'deleted ' or ''}">@{markdown(old_version['content'])!!html}</div>
        </span>
      @end
      <div class="post-history-controls @{(post['visibility'] != '') and 'deleted ' or ''}"">
        <button class="browse-history back" data-action="back">←</button>
        <button class="browse-history forward disabled" action="forward">→</button>
        <span class="history-meta">
          @{_('Viewing edit history:')}
            <span class="history-version">
              1/@{1 + len(content_history)!!s}
            </span>
        </span>
      </div>
  @end
  </div>

  @if current_user.is_authenticated and post['deleted'] == 0 and not current_user.is_subban(sub) and not postmeta.get('lock-comments') and not post['is_archived']:
  <form data-reset="true" data-redir="true" action="@{url_for('do.create_comment', pid=post['pid'])}" id="rcomm-0" class="comment-form ajaxform static pure-form">
    @{commentform.csrf_token()!!html}
    @{commentform.post(value=post['pid'])!!html}
    @{commentform.parent(value='0')!!html}
    <div class="markdown-editor" id="ncme">
      @{commentform.comment(id="comment2", placeholder=commentform.comment.label.text, rows="6")!!html}
    </div>
    <div class="div-error error alertbox"></div>
    <button type="submit" class="pure-button pure-button-primary btn-postcomment" data-cid="0" data-pid="@{post['pid']}">@{_('Submit comment')}</button>
    <button data-pvid="ncme" class="pure-button btn-preview">@{_('Preview')}</button>
    <div class="cmpreview canclose" style="display:none;">
      <h4>@{_('Comment preview')}</h4>
      <span class="closemsg">×</span>
      <div class="cpreview-content"></div>
    </div>
  </form>
  @elif current_user.is_authenticated and post['deleted'] == 0 and postmeta.get('lock-comments'):
  <div class="comments-locked">
    <h4>@{_('This post is closed to new comments.  It has been locked by the moderators.')}</h4>
  </div>
  @elif current_user.is_authenticated and post['deleted'] == 0 and post['is_archived']:
  <div class="comments-locked">
    <h4>@{_('This post is closed to new comments.  It has been automatically archived.')}</h4>
  </div>
  @end

  @if len(comments) == 0:
    <div class="comments"><h3 id="cmnts" data-cnt="0">@{_('No comments, yet...')}</h3></div>
  @else:
    @if post['blur'] == 'nsfw-blur':
      <h3><a class="show-post-comments">@{_('Show comments')}</a></h3>
    @end
    <div id="post-comments" class="comments @{'hide' if post['blur'] == 'nsfw-blur' else ''}">
      <h2 id="cmnts" data-cnt="@{post['comments']}"><a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'])}">@{_('%(comments)i comments', comments=post['comments'])}</a></h2>
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            @(
            sorts = {'top': _('top'),
                     'new': _('new')}
            default_sort = sorts['top']
            if post['best_sort_enabled']:
              default_sort = sorts['best'] = _('best')
            currsort = sorts.get(sort, default_sort)
            )
            <span id="sortby" class="pure-menu-link">@{_('Sort by: <b>%(currsort)s</b>', currsort=currsort)!!html}</span>
            <ul class="pure-menu-children">
              @if post['best_sort_enabled']:
                <li class="pure-menu-item">
                  <a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'], sort='best')}" class="pure-menu-link">
                    @if sort == 'best':
                      ✓
                    @else:
                      &nbsp;&nbsp;
                    @end
                    @{_('Best')}
                  </a>
                </li>
              @end
              <li class="pure-menu-item">
                <a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'], sort='top')}" class="pure-menu-link">
                  @if sort == 'top':
                    ✓
                  @else:
                    &nbsp;&nbsp;
                  @end
                  @{_('Top')}
                </a>
              </li>
              <li class="pure-menu-item">
                <a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'], sort='new')}" class="pure-menu-link">
                  @if sort == 'new':
                    ✓
                  @else:
                    &nbsp;&nbsp;
                  @end
                  @{_('New')}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      @{pcomm.renderComments(post, postmeta, subInfo, subMods, comments, highlight, sort)!!html}
    </div>
  @end


</div>

@end

@def pagefoot():

  <label id="pagefoot-admin" data-value="@{current_user.is_admin()}" class="hide"></label>
  @if not current_user.block_styles():
    <style>@{subInfo['stylesheet']!!html}</style>
  @end
@end
