<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="keywords" content="forum, community, comment, post, women, feminism, feminist, radical feminist, radical feminism, gender critical">
    <meta name="referrer" content="always">

    <meta name="description" content="Ovarit is a platform for women-centered communities featuring conversations on politics, news, media, life, activism, and gender-critical and radical feminism.">
    <meta name="twitter:description" content="Ovarit is a platform for women-centered communities featuring conversations on politics, news, media, life, activism, and gender-critical and radical feminism."/>
    <meta name="twitter:image:src" content="https://ovarit.com/{{ url_for('static', filename='img/android-chrome-512x512.png') }}" />
    <meta name="twitter:title" content="Ovarit" />

    <meta name="twitter:image:width" content="512" />
    <meta name="twitter:image:height" content="512" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:description" content="Ovarit is a platform for women-centered communities featuring conversations on politics, news, media, life, activism, and gender-critical and radical feminism."/>
    <meta property="og:image" content="https://ovarit.com/{{ url_for('static', filename='img/android-chrome-512x512.png') }}" />
    <meta property="og:title" content="Ovarit" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- mobile stuff -->
    <meta name="theme-color" content="white">
    <meta name="msapplication-navbutton-color" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}?v9">

    <title>
      {% block title %}{{config.site.lema}}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset_url_for('main.css') }}">

    {% endblock %}
  </head>

<body class="{%if config.site.enable_totp and current_user.admin%}body_admin {%endif%}{%if request.cookies.get( "dayNight")=="dark" %}dark{%elif request.cookies.get( "dayNight")=="dank" %}dark dank{%endif%}">
  {%if config.site.enable_totp and current_user.admin %}
  <div class="admin_alert">Admin mode is currently enabled.
    <form method="POST" action="/admin/logout" id="adminlogout">
      {{ logoutform.csrf_token }}
      <button type="submit" class="btn_link">Disable</button>
    </form></div>
  {%endif%}

  <div class="th-subbar pure-u-1">
    <ul id="topbar">
      <li><a href="/all">all</a></li>
      <li><a href="/all/new">new</a></li>
      {% if current_user.can_admin %}
        <li><a href="{{url_for('admin.index')}}">admin</a></li>
      {% endif %}
      <li>|</li>
      {% if not current_user.is_anonymous %}
      <li class="editbar"><a href="/settings/subs" title="Customize this bar" class="tx-icon" data-icon="edit"></a></li>
      {% endif %}
      {% for sub in current_user.get_top_bar() %}
        <li class="subinthebar"><a href="{{url_for('sub.view_sub', sub=sub['name'])}}">{{sub['name']}}</a></li>
      {% endfor %}
    </ul>
    <div id="subsdropdown">
      <div class="dropdown-toggle moremenu">
        More
      </div>
      <ul id="hiddensubs"></ul>
    </div>
  </div>

  <div id="menu" class="th-navbar pure-g">
    <div class="cw-brand pure-u-1 pure-u-md-3-24"> <!-- logo -->
      <div class="pure-menu">
        <a class="logocont" href="{{url_for('home.index')}}">
            <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 110 45"><defs/><path class="th-l-fill th-l-stroke" fill="#fff" fill-rule="nonzero" d="M37.212 26.093h4.87l7.114-17.855h-5.319l-4.11 11.293-4.074-11.293h-5.595l7.114 17.855zM58.83 26.438c2.487 0 4.56-1.14 5.906-3.004l.449 2.659h4.179V8.238h-4.179l-.414 2.521C63.458 9 61.455 7.893 59.003 7.893c-4.765 0-8.771 4.144-8.771 9.359s3.902 9.186 8.599 9.186zm1.037-4.593c-2.66 0-4.628-2.072-4.628-4.662 0-2.625 1.969-4.662 4.628-4.662s4.627 2.037 4.627 4.662c0 2.59-1.968 4.662-4.627 4.662zM73.508 26.093h5.007v-7.356c0-4.006 1.969-5.698 5.25-5.698H84.8l.069-5.146c-3.074 0-5.388 1.347-6.63 3.833l-.277-3.488h-4.455v17.855zM87.978 8.238h5.076v17.855h-5.076z"/><circle cx="302.5" cy="54.5" r="3.5" fill="#fff" class="th-l-fill th-l-stroke" transform="translate(-178.949 -45.43) scale(.89077)"/><path fill="#fff" class="th-l-fill th-l-stroke" fill-rule="nonzero" d="M105.28 26.438c2.762 0 4.524-.829 4.524-.829l-.587-4.178s-1.278.414-2.625.414c-1.416 0-2.314-.829-2.314-2.521v-7.01h5.526V8.238h-5.526V3.991h-5.007v4.247H95.99v4.076h3.28v8.15c0 3.833 2.314 5.974 6.01 5.974z"/><path fill="#fff" class="th-l-fill th-l-stroke" d="M14.341 2.83c7.916 0 14.342 6.426 14.342 14.341 0 7.916-6.426 14.342-14.342 14.342C6.426 31.513 0 25.087 0 17.17 0 9.256 6.426 2.83 14.34 2.83zm0 5.333c4.972 0 9.008 4.036 9.008 9.008 0 4.972-4.036 9.009-9.008 9.009-4.972 0-9.008-4.037-9.008-9.009s4.036-9.008 9.008-9.008z"/><path fill="#fff" class="th-l-fill th-l-stroke" fill-rule="nonzero" d="M22.768 45l3.88-1.481-2.621-6.864 6.598-2.52-1.43-3.747-6.599 2.52-2.62-6.864-3.88 1.481 2.62 6.864-6.598 2.52 1.43 3.747 6.6-2.52L22.767 45z"/></svg>
        </a>
        <span class="motto">{{func.get_motto()}}</span>
        <a id="toggle" href="#" class="th-toggle">
          <s class="bar"></s>
          <s class="bar"></s>
        </a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-6-24" style="display:none;">
      <div class="cw-items pure-menu pure-menu-horizontal">
        <!-- Menu -->
        <ul id="th-menu" class="pure-menu-list">
          {% block navbar %}{% endblock %}
        </ul>
      </div>
    </div>

    <div id="th-uinfo" class="pure-u-1 pure-u-md-12-24"> <!-- class="pure-u-1 pure-u-md-8-24" -->
      <div class="cw-items">
        {% if current_user.is_anonymous %}
        <!-- <div id="toggledark" class="glyphbutton">
          <span class="p-icon" data-icon="{%if request.cookies.get( "dayNight")=="dark" %}sun{%else%}moon{%endif%}"></span>
        </div> -->
        <a href="{{url_for('auth.login', next=request.path)}}" class="pure-button pure-button-primary">Log in</a>
        <a href="{{url_for('auth.register')}}" class="pure-button button-secondary">Register</a>
        {%else%}
        <a href="{{ url_for('user.view', user=current_user.name) }}" class="smallcaps">{{current_user.name}}</a>
        <span class="separator"></span>
        <abbr title="vote score" class="bold" id="postscore">{{current_user.score}}</abbr>
        <span class="separator"></span>
        <div class="glyphbutton">
          <a href="{{ url_for('user.edit_user', user=current_user.name) }}"><span class="p-icon" data-icon="cog"></span></a>
        </div>
        <div class="glyphbutton sep ">
          <a href="{{ url_for('messages.inbox_sort') }}">
            <span class="hasmail">
              <span class="p-icon{% if current_user.notifications != 0 %} hasmail{%endif%}" data-icon="mail"></span>
              <span id="mailcount" class="mailcount" {% if current_user.notifications == 0 %}style="display:none;"{%endif%}>{{current_user.notifications}}</span>
            </span>
          </a>
        </div>
        {% if current_user.is_a_mod or current_user.can_admin %}
        <div class="glyphbutton">
          <a href="{{ url_for('mod.index') }}">
            <span class="hasmail">
              <span class="p-icon" data-icon="shield"></span>
              <span id="modcount" class="mailcount" data-mod="{{current_user.mod_notifications_json()}}" style="display:none;"></span>
          </span>
          </a>
        </div>
        {% endif %}
        <div id="toggledark" class="glyphbutton">
          <span class="p-icon" data-icon="{%if request.cookies.get( "dayNight")=="dark" %}sun{%else%}moon{%endif%}"></span>
        </div>
        <form method="POST" action="{{ url_for('do.logout') }}" id="logout">
          {{ logoutform.csrf_token }}
          <button type="submit" class="pure-button button-secondary">Log out</button>
        </form>
        {%endif%}
        {{ logoutform.csrf_token }}
      </div>
    </div>
  </div>

  <div class="th-body pure-g">
    <div class="pure-u-1 pure-u-md-18-24"> <!-- main -->
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
          {% for err in errors %}
            <div class="error" style="margin-top: 2em;">{{ err }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
          {% for msg in messages %}
            <div class="message" style="margin-top: 2em;">{{ msg }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block main %}
        <div id="container">{% block content %}{% endblock %}</div>
      {% endblock %}
    </div>
    <div id="sidebar" class="sidebar pure-u-1 pure-u-md-6-24"> <!-- sidebar -->
      {% block sidebar %}

      {%endblock%}
    </div>
  </div>

  <div class="footer">
    {% block footer %}
      &copy; {{config.site.copyright}}
      <br>
      {% for text,link in config.site.footer.links.items() %}
        <a href="{{link}}">{{text}}</a> |
      {% endfor %}
      <a href="/license">License</a>
      <br>
      {%if config.app.debug%} | Page generated in __EXECUTION_TIME__ms with __DB_QUERIES__ queries{%endif%}
      <br> “All space becomes male space unless females maintain a concerted effort to mark a space for themselves.” –Sheila Jeffreys
    {% endblock %}
  </div>
  <script src="{{ asset_url_for('main.js') }}"></script>
  <style>{{current_user.get_global_stylesheet()|safe}}</style>
  {%block pagefoot%}{%endblock%}
  <label id="pagefoot-notifications-icon" data-value="{{config.site.notifications_on_icon}}" class="hide"></label>
</body>
</html>
